# .gitignore

# Environment files — never commit these
.env
.env.local
.env.production

# Dependencies
node_modules/
backend/node_modules/

# React build output
build/

# Logs
*.log
npm-debug.log*

#dataset
ml/data/cc.id.300.bin

#databse dump
aes-db_dump.sql