--
-- PostgreSQL database dump
--

\restrict FHws5WcFIZUUnfUFNee7POLBDMUzZJWQtPrbmZURXgQXmbNK23jUFnAyPj6VttI

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: member_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.member_role AS ENUM (
    'teacher',
    'student',
    'admin'
);


ALTER TYPE public.member_role OWNER TO postgres;

--
-- Name: reg_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reg_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.reg_status OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'teacher',
    'student'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: current_user_id(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.current_user_id() RETURNS uuid
    LANGUAGE sql STABLE
    AS $$ SELECT current_setting('app.current_user_id')::UUID $$;


ALTER FUNCTION public.current_user_id() OWNER TO postgres;

--
-- Name: current_user_role(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.current_user_role() RETURNS public.user_role
    LANGUAGE sql STABLE
    AS $$ SELECT current_setting('app.current_user_role')::user_role $$;


ALTER FUNCTION public.current_user_role() OWNER TO postgres;

--
-- Name: log_role_change(uuid, uuid, public.user_role, public.user_role); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_role_change(p_actor_id uuid, p_target_user_id uuid, p_old_role public.user_role, p_new_role public.user_role) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO audit_log (actor_id, target_user_id, action, payload)
    VALUES (
        p_actor_id,
        p_target_user_id,
        'role_assigned',
        jsonb_build_object('old_role', p_old_role, 'new_role', p_new_role)
    );
END;
$$;


ALTER FUNCTION public.log_role_change(p_actor_id uuid, p_target_user_id uuid, p_old_role public.user_role, p_new_role public.user_role) OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answers (
    answer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    user_id uuid NOT NULL,
    answer text NOT NULL,
    score_ai numeric(3,2),
    feedback text,
    score_released boolean DEFAULT false NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone,
    CONSTRAINT answers_score_ai_check CHECK (((score_ai >= 1.00) AND (score_ai <= 5.00)))
);


ALTER TABLE public.answers OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    log_id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid NOT NULL,
    target_user_id uuid,
    action character varying(80) NOT NULL,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: class_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_members (
    class_id uuid NOT NULL,
    user_id uuid NOT NULL,
    student_code character varying(20) NOT NULL,
    role public.member_role DEFAULT 'student'::public.member_role NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.class_members OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    class_id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    join_code character varying(10) NOT NULL,
    exam_start_time timestamp with time zone,
    exam_duration_minutes integer
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: COLUMN classes.exam_start_time; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.classes.exam_start_time IS 'UTC timestamp when the exam window opens. NULL = no scheduled exam.';


--
-- Name: COLUMN classes.exam_duration_minutes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.classes.exam_duration_minutes IS 'Duration of exam window in minutes. NULL = no scheduled exam.';


--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    question_id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid NOT NULL,
    created_by uuid NOT NULL,
    question text NOT NULL,
    key_answer text NOT NULL,
    is_published boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_evaluation_ms integer
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registrations (
    registration_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    status public.reg_status DEFAULT 'pending'::public.reg_status NOT NULL,
    reviewed_by uuid,
    registered_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone
);


ALTER TABLE public.registrations OWNER TO postgres;

--
-- Name: student_score_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.student_score_view AS
 SELECT a.answer_id,
    q.question,
    a.answer,
    a.score_ai,
    a.feedback,
    a.submitted_at
   FROM (public.answers a
     JOIN public.questions q ON ((a.question_id = q.question_id)))
  WHERE ((a.user_id = (current_setting('app.current_user_id'::text))::uuid) AND (a.score_released = true));


ALTER VIEW public.student_score_view OWNER TO postgres;

--
-- Name: teacher_answer_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.teacher_answer_view AS
 SELECT a.answer_id,
    cm.student_code,
    q.question,
    a.answer,
    a.score_ai,
    a.feedback,
    a.score_released,
    a.submitted_at,
    a.reviewed_at
   FROM ((public.answers a
     JOIN public.questions q ON ((a.question_id = q.question_id)))
     JOIN public.class_members cm ON (((a.user_id = cm.user_id) AND (cm.class_id = q.class_id))));


ALTER VIEW public.teacher_answer_view OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(150) NOT NULL,
    identifier character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role DEFAULT 'student'::public.user_role NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (log_id, actor_id, target_user_id, action, payload, created_at) FROM stdin;
\.


--
-- Data for Name: class_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: registrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.registrations (registration_id, user_id, status, reviewed_by, registered_at, reviewed_at) FROM stdin;
aa214846-5c91-467e-a96b-40e7837c12f6	df9980be-2b94-4bce-9218-4f10867f1ede	approved	df9980be-2b94-4bce-9218-4f10867f1ede	2026-05-25 23:23:47.966171+00	2026-05-25 23:23:47.966171+00
2c76a398-72d2-48db-a128-b9ac9cd33de6	3e6bd36b-cce5-4001-a116-e43264450ff7	pending	\N	2026-05-26 00:00:32.592293+00	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (answer_id);


--
-- Name: answers answers_question_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_question_id_user_id_key UNIQUE (question_id, user_id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (log_id);


--
-- Name: class_members class_members_class_id_student_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_class_id_student_code_key UNIQUE (class_id, student_code);


--
-- Name: class_members class_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_pkey PRIMARY KEY (class_id, user_id);


--
-- Name: classes classes_join_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_join_code_key UNIQUE (join_code);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (class_id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (question_id);


--
-- Name: registrations registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_pkey PRIMARY KEY (registration_id);


--
-- Name: registrations registrations_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_user_id_key UNIQUE (user_id);


--
-- Name: users users_identifier_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_identifier_key UNIQUE (identifier);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_answers_question; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answers_question ON public.answers USING btree (question_id);


--
-- Name: idx_answers_released; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answers_released ON public.answers USING btree (score_released);


--
-- Name: idx_answers_submitted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answers_submitted ON public.answers USING btree (submitted_at);


--
-- Name: idx_answers_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answers_user ON public.answers USING btree (user_id);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_action ON public.audit_log USING btree (action);


--
-- Name: idx_audit_actor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_actor ON public.audit_log USING btree (actor_id);


--
-- Name: idx_audit_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_created ON public.audit_log USING btree (created_at);


--
-- Name: idx_audit_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_target ON public.audit_log USING btree (target_user_id);


--
-- Name: idx_class_members_class; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_class_members_class ON public.class_members USING btree (class_id);


--
-- Name: idx_class_members_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_class_members_user ON public.class_members USING btree (user_id);


--
-- Name: idx_classes_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_classes_is_active ON public.classes USING btree (is_active);


--
-- Name: idx_classes_join_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_classes_join_code ON public.classes USING btree (join_code);


--
-- Name: idx_classes_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_classes_owner ON public.classes USING btree (owner_id);


--
-- Name: idx_questions_class; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_class ON public.questions USING btree (class_id);


--
-- Name: idx_questions_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_created_by ON public.questions USING btree (created_by);


--
-- Name: idx_questions_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_questions_published ON public.questions USING btree (is_published);


--
-- Name: idx_registrations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_registrations_status ON public.registrations USING btree (status);


--
-- Name: idx_registrations_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_registrations_user ON public.registrations USING btree (user_id);


--
-- Name: idx_users_identifier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_identifier ON public.users USING btree (identifier);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: classes trg_classes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_classes_updated_at BEFORE UPDATE ON public.classes FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: questions trg_questions_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_questions_updated_at BEFORE UPDATE ON public.questions FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: answers answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(question_id) ON DELETE CASCADE;


--
-- Name: answers answers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: audit_log audit_log_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: audit_log audit_log_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: class_members class_members_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: class_members class_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: classes classes_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: questions questions_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: questions questions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE RESTRICT;


--
-- Name: registrations registrations_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: registrations registrations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: answers a_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY a_admin ON public.answers USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: answers a_student_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY a_student_insert ON public.answers FOR INSERT WITH CHECK (((public.current_user_role() = 'student'::public.user_role) AND (user_id = public.current_user_id())));


--
-- Name: answers a_student_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY a_student_select ON public.answers FOR SELECT USING (((public.current_user_role() = 'student'::public.user_role) AND (user_id = public.current_user_id()) AND (score_released = true)));


--
-- Name: answers a_teacher; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY a_teacher ON public.answers USING (((public.current_user_role() = 'teacher'::public.user_role) AND (EXISTS ( SELECT 1
   FROM (public.questions q
     JOIN public.classes c ON ((c.class_id = q.class_id)))
  WHERE ((q.question_id = answers.question_id) AND (c.owner_id = public.current_user_id()))))));


--
-- Name: answers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.answers ENABLE ROW LEVEL SECURITY;

--
-- Name: audit_log audit_admin_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY audit_admin_select ON public.audit_log FOR SELECT USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: audit_log audit_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY audit_insert ON public.audit_log FOR INSERT WITH CHECK (true);


--
-- Name: audit_log; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_log ENABLE ROW LEVEL SECURITY;

--
-- Name: class_members; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.class_members ENABLE ROW LEVEL SECURITY;

--
-- Name: classes; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.classes ENABLE ROW LEVEL SECURITY;

--
-- Name: classes classes_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY classes_admin ON public.classes USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: classes classes_student; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY classes_student ON public.classes FOR SELECT USING (((public.current_user_role() = 'student'::public.user_role) AND (EXISTS ( SELECT 1
   FROM public.class_members cm
  WHERE ((cm.class_id = classes.class_id) AND (cm.user_id = public.current_user_id()))))));


--
-- Name: classes classes_teacher; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY classes_teacher ON public.classes USING (((public.current_user_role() = 'teacher'::public.user_role) AND (owner_id = public.current_user_id())));


--
-- Name: class_members cm_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY cm_admin ON public.class_members USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: class_members cm_student; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY cm_student ON public.class_members FOR SELECT USING (((public.current_user_role() = 'student'::public.user_role) AND (user_id = public.current_user_id())));


--
-- Name: class_members cm_teacher; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY cm_teacher ON public.class_members FOR SELECT USING (((public.current_user_role() = 'teacher'::public.user_role) AND (EXISTS ( SELECT 1
   FROM public.classes c
  WHERE ((c.class_id = class_members.class_id) AND (c.owner_id = public.current_user_id()))))));


--
-- Name: questions q_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY q_admin ON public.questions USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: questions q_student; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY q_student ON public.questions FOR SELECT USING (((public.current_user_role() = 'student'::public.user_role) AND (is_published = true) AND (EXISTS ( SELECT 1
   FROM public.class_members cm
  WHERE ((cm.class_id = questions.class_id) AND (cm.user_id = public.current_user_id()))))));


--
-- Name: questions q_teacher; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY q_teacher ON public.questions USING (((public.current_user_role() = 'teacher'::public.user_role) AND (EXISTS ( SELECT 1
   FROM public.classes c
  WHERE ((c.class_id = questions.class_id) AND (c.owner_id = public.current_user_id()))))));


--
-- Name: questions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.questions ENABLE ROW LEVEL SECURITY;

--
-- Name: registrations reg_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY reg_admin ON public.registrations USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: registrations; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.registrations ENABLE ROW LEVEL SECURITY;

--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- Name: users users_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY users_admin ON public.users USING ((public.current_user_role() = 'admin'::public.user_role));


--
-- Name: users users_self; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY users_self ON public.users FOR SELECT USING ((user_id = public.current_user_id()));


--
-- PostgreSQL database dump complete
--

\unrestrict FHws5WcFIZUUnfUFNee7POLBDMUzZJWQtPrbmZURXgQXmbNK23jUFnAyPj6VttI

